{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommendation</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <!-- 메뉴바 -->
    <header>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Genres</a></li>
                <li><a href="#">MyPage</a></li>
            </ul>
            <div class="nav-buttons">
                <button onclick="login()">Login</button>
                <button onclick="register()">Register</button>
            </div>
        </nav>
    </header>

    <main>
      <section class="movie-list">
          <div class="movie">
              <img src="" alt="Movie 1">
              <h3>Movie Title 1</h3>
              <div class="star-rating" data-rating="7.5"></div>
          </div>
          <div class="movie">
              <img src="" alt="Movie 2">
              <h3>Movie Title 2</h3>
              <div class="star-rating" data-rating="8.0"></div>
          </div>
          <div class="movie">
              <img src="" alt="Movie 3">
              <h3>Movie Title 3</h3>
              <div class="star-rating" data-rating="8.0"></div>
          </div>
          <div class="movie">
              <img src="" alt="Movie 4">
              <h3>Movie Title 4</h3>
              <div class="star-rating" data-rating="8.0"></div>
          </div>
          <div class="movie">
              <img src="" alt="Movie 5">
              <h3>Movie Title 6</h3>
              <div class="star-rating" data-rating="8.0"></div>
          </div>
          <div class="movie">
              <img src="" alt="Movie 6">
              <h3>Movie Title 6</h3>
              <div class="star-rating" data-rating="8.0"></div>
          </div>
          <!-- 추가 영화 목록 -->
      </section>
  </main>

    <footer>
        <div class="contact-icons">
            <a href="https://github.com/marmot8080/MR" target="_blank">GitHub</a>
            <a href="mailto:your-email@gmail.com">Gmail</a>
        </div>
    </footer>

    <script src="{% static 'js/home.js' %}"></script>
</body>
</html>
