{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommendation</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <!-- 메뉴바 -->
    <header>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/genres">Genres</a></li>
                <li><a href="/mypage">MyPage</a></li>
            </ul>
            <div class="nav-buttons">
                <button onclick="login()">Login</button>
                <button onclick="register()">Register</button>
            </div>
        </nav>
    </header>

    <main>
      <section class="slider-container">
        <button class="slider-btn left" onclick="decreaseValue()">&#9664;</button>
        <input type="range" min="0" max="100" value="0" class="slider" id="slider">
        {% for recent_movie in movie_info.recent_movies %}
        <div class="movie">
            <a href="/detail/{{ recent_movie.id }}">
                <img src="{{ recent_movie.image }}" alt="{{ recent_movie.title }}">
                <div class="movie-title">{{ recent_movie.title }}</div>
                <div class="star-rating" data-rating="{{ recent_movie.rating }}">
                    Rating: {{ recent_movie.rating }}
                </div>
            </a>
        </div>
        {% endfor %}
        <button class="slider-btn right" onclick="increaseValue()">&#9654;</button>
      </section>
  </main>

    <footer>
        <div class="contact-icons">
            <a href="https://github.com/marmot8080/MR" target="_blank">GitHub</a>
            <a href="mailto:your-email@gmail.com">Gmail</a>
        </div>
    </footer>

    <script src="{% static 'js/home.js' %}"></script>
</body>
</html>
